@model NewEventVM
@{
    ViewData["Title"] = "Lisää uusi tapahtuma";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add new Event</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ImageURLPreview" class="border-info rounded-0" style="max-width: 250px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label">Kuvan URL</label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <img id="WideImageURLPreview" class="border-info rounded-0" style="max-width: 250px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="WideImageURL" class="control-label">Leveä kuvan URL</label>
                        <input asp-for="WideImageURL" class="form-control" />
                        <span asp-validation-for="WideImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Nimi</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Kuvaus</label>
                        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketPrice" class="control-label">Lipun hinta</label>
                        <input asp-for="TicketPrice" type="number" class="form-control" />
                        <span asp-validation-for="TicketPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label">Aloitus päivämäärä</label>
                        <input asp-for="StartDate" type="date" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label">Lopetus päivämäärä</label>
                        <input asp-for="EndDate" type="date" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="SellStartDate" class="control-label">Lipunmyynnin aloitus</label>
                        <input asp-for="SellStartDate" class="form-control" />
                        <span asp-validation-for="SellStartDate" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="TicketQuantity" class="control-label">Lippujen määrä</label>
                        <input asp-for="TicketQuantity" class="form-control" />
                        <span asp-validation-for="TicketQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VenueId" class="control-label">Tapahtumapaikan id</label>
                        <select asp-for="VenueId" class="form-control" asp-items="ViewBag.Venues"></select>
                        <span asp-validation-for="VenueId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ArtistIDs" class="control-label">Artistien IDt</label>
                        <select asp-for="ArtistIDs" class="form-control" asp-items="ViewBag.Artists" multiple></select>
                        <span asp-validation-for="ArtistIDs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Näytä kaikki</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImageURLPreview');
            output.src = $("#ImageURL").val();
            var wideoutput = document.getElementById('WideImageURLPreview');
            wideoutput.src = $("#WideImageURL").val();
        })
        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImageURLPreview');
            output.src = $(this).val();
        })
        $("#WideImageURL").on("change", function () {
            var output = document.getElementById('WideImageURLPreview');
            output.src = $(this).val();
        })
    </script>
}