<div class="row">
    <div class="col-md-6 offset-3">
    <h1 class="text-info">Site Not Found</h1>
    <hr/>
    <p>Oops! The site you're looking for is not here.</p>
    <p>Please check the address and try again</p>
    <a class="btn btn-outline-success" asp-controller="Events" asp-action="Index">Home Page</a>
</div>
</div>